body {
  background-color: #f4f4f4;
  color: #222831eb;
  font-family: 'Noto Sans JP', sans-serif;
}

a, a:hover {
  color: #222831eb;
  text-decoration: none;
}

/* Menu area */
.hide-menu{
  right: 0;
  background-color:  #f4f4f4;
  width: 5rem;
}

.large-menu > *{
  margin : 0 1rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #222831eb;
}


/* Banner area */
.banner-message{
  max-width: 30rem;
  margin: 1.5rem 0.5rem;
  line-height: 2rem;
  word-break: break-all;
}
.banner-message h2{
  line-height: 4rem;
  margin-bottom: 2rem;
  white-space: nowrap;
}

.top-lecrure {
  margin: 4rem 0.5rem;
}

.lecturer-info > * {
  flex-basis: 20em;
  margin: 1rem 0.5rem;
}

.lecturer-photo {
  max-width: 10rem;
  height: auto;
}

/* Regiser area */
.register{
  text-align: center;
  max-width: 30rem;
  padding: 1.3rem 0;
  margin-bottom: 3rem;
  border-top: 0.5px solid #222831eb;
  border-bottom: 0.5px solid #222831eb;
}

/* LectureLists area */
.smart-phone-view{
  width: 100%;
  height: 20rem;
}

.lecuture-date{
  background-color: grey;
  color: red;
}

.lecture-duration{
  background-color: grey;
  color: blue;
}

/* ServiceDescription area */
.description-img {
  width: 10rem;
  height: 10rem;
}

.description-text{
  margin-left: 1rem;
  min-width: 5rem;
  max-width: 15rem;
}
