body {
  background-color: #f4f4f4;
  color: #222831eb;
  font-family: 'Noto Sans JP', sans-serif;
}

/* Menu area */
.hide-menu{
  right: 0;
  background-color:  #f4f4f4;
  width: 5rem;
}


/* Banner area */

/* Regiser area */
.register{
  max-width: 30rem;
}

/* LectureLists area */
.smart-phone-view{
  width: 100%;
  height: 20rem;
}

.lecuture-date{
  background-color: grey;
  color: red;
}

.lecture-duration{
  background-color: grey;
  color: blue;
}
